<div class="lbody">
<% @page_title = "Studio" %>
<h2><%= @page_title %></h2>
<div class="box">

<p>確認用</p>
<table border="1">
<tr>
  <td rowspan="2">adminアカウント:</td>
  <th>email</th><td>admin</td>
</tr>
<tr>
  <th>password</th><td>pass</td>
</tr>
<tr>
  <td rowspan="2">一般アカウント</td>
  <th>email</th><td>user1@example.com</td>
</tr>
<tr>
  <th>password</th><td>pass</td>
</tr>
<tr>
  <td rowspan="2">利用停止アカウント</td>
  <th>email</th><td>suspend</td>
</tr>
<tr>
  <th>password</th><td>pass</td>
</tr>
</table>

</div>
</div>
