<div class="lbody">
<% @page_title = "Studio" %>
<h2><%= @page_title %></h2>
<div class="box">

<p>確認用</p>
<p>
adminアカウント
</br></br>
email -> admin
</br>
password -> pass
</p>
</br></br>
<p>
user1アカウント
</br></br>
email -> user1@example.com
</br>
password -> pass
</p>
</br></br>
<p>
利用停止アカウント
</br></br>
email -> hoge
</br>
password -> pass
</p>
</div>
</div>
