<div class="lbody">
<% @page_title = "Studio-R" %>
<h2><%= @page_title %></h2>
<div class="box">
<h3>information</h3>
<p>2015.1.1 -> あけましておめでとうございます</br>
2014.12.25 -> Merry Christmas!</br>
2014.11.11 -> サービスデー</br></p>

<%= link_to "about", :about %>
</div>
</div>
