<div class="lbody">
<% @page_title = "部屋詳細" %>
<h2><%= @page_title %></h2>
<div class="box">
<% if @room.present? %>
<table class="list">
  <tr>
    <th>部屋id</th>
    <td><%= @room.id %></td>
  </tr>
  <tr>
    <th>部屋名</th>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <th>画像</th>
    <td><%= room_image_tag @room %></td>
  </tr>
</table>
</br>
<% end %>
</div>
</div>
